@import url("https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
    --black: #1a1a1a;
    --white: #ffffff;
    --tcu-purple: #471c74;
}

* {
    box-sizing: border-box;
    text-rendering: geometricPrecision;
}

*::selection {
    background: #e8deff;
}

body {
    background: var(--white);
    font-family: "Optima", "Montserrat", sans-serif;
    color: var(--black);
    justify-content: center;
    padding: 1rem;
}

header {
    border-bottom: 4px solid var(--tcu-purple);
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav {
    display: flex;
    gap: 1rem;
}

footer {
    margin-top: 3rem;
    font-size: 0.8rem;
    text-align: center;
}

h1 {
    font-family: "Palatino Linotype", "Palatino", "Lora", serif;
    font-size: 2.5rem;
}

a {
    color: var(--tcu-purple);
    text-decoration: none;
    border-bottom: 1px dashed var(--tcu-purple);
}